<?xml version="1.0" encoding="UTF-8"?>
<bean:beans
	xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<!--
		Applies to root appContext beans only, for MVC Controllers is this declaration repeated in MVC config.
		Actually, we currently don't need this as we have on annotation outside of MVC.
		There is more here that can go wrong. If you use interface-based proxy (our demo uses CGLib), you may
		need to add proxy-target-class="true" as well. Book "Spring Security 3.1", Chapter 10, Fine-grained
		Access Control, from header "Method security on Spring MVC controllers" on discusses these topics.
	-->
	<global-method-security secured-annotations="enabled"/>

	<http realm="Protected API"
		use-expressions="true"
		create-session="stateless"
		entry-point-ref="unauthorizedEntryPoint"
		authentication-manager-ref="restAuthenticationManager">
		
		<custom-filter ref="restAuthenticationFilter" position="FORM_LOGIN_FILTER" />

		<intercept-url pattern="/*" access="permitAll"/>
		<intercept-url pattern="/SunHolidaysAPI/login" access="permitAll"/>
		<intercept-url pattern="/SunHolidaysAPI/logout" access="permitAll"/>
		<intercept-url pattern="/SunHolidaysAPI/**" access="isFullyAuthenticated()"/>
	
		<csrf disabled="true"/>
	</http>
	
	<bean:bean id="unauthorizedEntryPoint" class="gestion.turnos.transversal.seguridad.impl.UnauthorizedEntryPoint"/>

	<bean:bean id="CustomAuthenticationProvider" class="gestion.turnos.transversal.seguridad.impl.CustomAuthenticationProvider"/>

	<authentication-manager id="restAuthenticationManager">
		<authentication-provider ref="CustomAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
	
	<bean:bean id="tokenManager" class="gestion.turnos.transversal.seguridad.impl.JWTWebTokenImpl"/>

	<bean:bean id="authenticationService" class="gestion.turnos.transversal.seguridad.impl.AuthenticationServiceImpl"
		c:authenticationManager-ref="restAuthenticationManager" c:tokenManager-ref="tokenManager"/>

	<bean:bean id="restAuthenticationFilter" class="gestion.turnos.transversal.seguridad.impl.TokenAuthenticationFilter"
		c:authenticationService-ref="authenticationService" c:logoutLink="/fichaColegial/logout" c:loginLink="/fichaColegial/login" c:restAuthenticationEntryPoint-ref="unauthorizedEntryPoint"/>
</bean:beans>
